/**
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 */

.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    text-align: center;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

#middle .maintable
{   
    text-align: center;
}

#middle .topbar
{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
    
    text-align: center;
}

#overview
{
    border-spacing: 20px;
    width: 100%;
    border-collapse: separate;
}

#overview, td
{
    color: solid black;
    border-bottom: 1px solid black;
}

.button
{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #E4E5F0;
    padding: 10px;
}

.button:hover
{
    background-color: #B3B7E3;
}

.menu, li
{
    float: left;
    width: 12%;
    padding: 10px;
}

.menu
{
    width: 100%;
    background-color: #E4E5F0;
    height: 10%;
    list-style: none;
}

#message
{
    font-size: 20px;
}
